<%today = Time.now.strftime("%Y-%m-%d")%>

<div class="update-form-wrapper">
  <h1>Update Project</h1>
  <form  class="update-form" action="/projects" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value="<%= project["id"] %>">
    <div>
      <label for="">Title</label>
      <input name="title" type="text" value="<%= project["title"] %>">
    </div>
    <div>
      <label for="">Design: </label>
      <input name="design" type="text" value="<%= project["design"] %>">
    </div>
    <div>
      <label for="">Size, WxH, mm: </label>
      <input name="size" type="text" value="<%= project["size"] %>">
    </div>
    <div>
      <label for="">Width, stitches: </label>
      <input name="width" type="text" value="<%= project["width"] %>">
    </div>
    <div>
      <label for="">Height, stitches: </label>
      <input name="height" type="text" value="<%= project["height"] %>">
    </div>
    <div>
      <label for="">Colors: </label>
      <input name="colors" type="text" value="<%= project["colors"]%>">
    </div>
    <div>
      <label for="">Threads </label>
      <input name="threads" type="text" value="<%= project["threads"]%>">
    </div>
    <div>
      <label for="">Fabric, count: </label>
      <input name="fabric_count" type="text" value="<%= project["fabric_count"]%>">
    </div>
    <div>
      <label for="">Fabric, type: </label>
      <input name="fabric_type" type="text" value="<%= project["fabric_type"]%>">
    </div>
    <div>
      <label for="">Started: </label>
      <input name="start" type="date" value="<%= project["start"] %>" max="<%= today %>">
    </div>
    <div>
      <label for="">Finished: </label>
      <input name="finish" type="date" value="<%= project["finish"] %>" max="<%= today %>%">
    </div>
    <div>
      <label>Additional Info: </label>
      <input name="details"  
      
      value="<%= project["details"] %>">
      
    </div>
    
    <div>
      <label for="add-file">Upload new photo</label>
      <input type="file" id="add-file" name="image" required value="<%= project["main_image_url"] %>">
    </div>
    <button>Submit changes</button>
  </form>
</div>