<div class="update-form-wrapper">
  <h1>Update Project</h1>
<form  class="update-form" action="/projects" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="id" value="<%= project["id"] %>">
  <div>
    <label for="">Title</label>
    <input name="title" type="text" value="<%= project["title"] %>">
  </div>
  <div>
    <label for="">Design: </label>
    <input name="design" type="text" value="<%= project["design"] %>">
  </div>
    <div>
      <label for="">Size, WxH, mm: </label>
      <input name="size" type="text" value="<%= project["size"] %>">
    </div>
    <div>
      <label for="">Colors: </label>
      <input name="colors" type="text" value="<%= project["colors"]%>">
    </div>
    <div>
      <label for="">Fabric, count: </label>
      <input name="fabric_count" type="text" value="<%= project["fabric_count"]%>">
    </div>
    <div>
      <label for="">Started: </label>
      <input name="start" type="text" value="<%= project["start"] %>">
    </div>
    <div>
      <label for="">Finished: </label>
      <input name="finish" type="text" value="<%= project["finish"] %>">
    </div>
    <div>
      <label for=""><a href="https://imgbb.com/" target="blank">Get url</a></label>
      <input name="main_image_url" type="text" value="<%= project["main_image_url"] %>">
    </div>
    <div>
      <label for="">Additional Info: </label>
      <textarea name="details" rows="3" cols="50"></textarea>
    </div>
  <button>Submit changes</button>
</form>
</div>