<h1>'<%= project["title"]%>', designed by <%=project["design"]%></h1>
<div class="project-container" >
    <div>
        <img class="zoom2" src="<%= project["main_image_url"] %>" alt="photo of <%= project["title"]%>">
    </div>
    <div class="project-description"style="background-image:url('https://cdn11.bigcommerce.com/s-z9duiagau2/images/stencil/1280x1280/products/13069/6600/VC18-OATMEAL__08467.1582863614.jpg?c=2')" >
        <ul>
            <li>Design: <%=project["design"]%></li>
            <li>Size, mm: <%=project["size"]%></li>
            <li>Colors: <%=project["colors"]%></li>
            <li>Fabric, count: <%=project["fabric_count"]%> </li>
            <li>Started: <%=project["start"]%></li>
            <li>Finished: <%=project["finish"]%></li>
            <li>Additional Info: <%=project["details"]%></li>
            <li>Posted by: <%= user["name"]%></li>
        </ul>
    </div>

    
<div class="edit-delete-option">
    <% if logged_in? && project["user_id"] == session[:user_id]%>
        <div class="edit-area">
        
        <a class="edit-project" href="/projects/<%= project["id"]%>/edit">Edit information</a>
    
        <form class="delete-form" action="/projects" method="post">
            <input type="hidden" name="id" value="<%= project["id"] %>">
            <input type="hidden" name="_method" value="delete">
            <button class="delete-btn">Delete Post</button>
        </form>
    </div>
    <% end %>
</div>
    
</div>

